
<div class="col-md-2" style="  padding-left: 122px;
">
  <app-product-template-builder [ruleArray1]="ruleArray1"></app-product-template-builder>
</div>

<div class="col-md-2" style="  padding-left: 122px;
">
 <app-product-template-builder [ruleArray1]="ruleArray2"></app-product-template-builder>
</div>

<div class="col-md-2" style="  padding-left: 122px;
">
  <app-product-template-builder [ruleArray1]="ruleArray3"></app-product-template-builder>
</div>

<div class="col-md-2" style="  padding-left: 122px;
">
  <app-product-template-builder [ruleArray1]="ruleArray4"></app-product-template-builder>
</div>






